/* 
    작성자 : 유열림
    파일의 역할 : view 폴더 안 css
    작성날짜 : 2023-01-30

    업데이트 작성자 : 홍지혜
    업데이트 날짜 : 2023-02-02 텍스트박스 반응형 크기조절
*/

/* HomePage */

.home-main-img {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/mainimg.jpg");
    background-size: 100vw;
    background-color: #b7cf55af;
    background-repeat: no-repeat;
    padding: 100px 0px;
}

.home-container { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.txt-container {
    width: 55%;
    max-width: 900px;
    min-width: 430px;
    border-radius: 20px;
    margin-left: 100px;
    padding: 30px;
    background-color: rgba(213, 213, 213, 0.859);
}

.home-title {
    font-size: 2.3vw;
    font-weight: 800;
}

.home-desc {
    font-size: 1.4vw;
    font-weight: 400;
    margin-left: 5%;
    color: #555;
}

.home-desc-detail {
    font-size: 1.1vw;
    font-weight: 400;
    margin-left: 8%;
    color: #555;
}

.home-btn-container {
    margin-top: 7%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3%;
}

.home-first-btn {
    width: 20%;
    height: 60px;
}

.home-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
    width: 100vw;
    height: 8vh;
    background-color: rgba(213, 213, 213, 0.865);
    font-size: 17px;
    color: #555;
}

.contact-us {
    color: #666666;

}

/* MainPage */


.main-page-wraper {
    width: 100vw;
    height: 100vh;
    
    overflow: hidden;
}

.speed-dial-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.speed-dial-icon {
    width: 22px;
}

.x-icon {
    position: absolute;
    top: 12px;
    right: 20px;
    z-index: 5;

    width: 22px;
    cursor: pointer;
}

@media(max-width: 640px){
    .txt-container {
       margin : 0 auto;
    }

}

@media (max-width : 800px) {
    
    .home-title {
        font-size: 20px;
        font-weight: 800;
    }
    
    .home-desc {
        font-size: 15px;
        font-weight: 400;
        margin-left: 5%;
        color: #555;
    }
    
    .home-desc-detail {
        font-size: 15px;
        font-weight: 400;
        margin-left: 8%;
        color: #555;
    }

}