.park-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.park-list-item {
    display: flex;
    width: 100%;
    height: 20%;
    margin-bottom: 3%;
    border-bottom: 1px solid gray;
}

.park-list-img {
    width: 30%;
    background-color: gray;
}


.park-list-desc-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2% 0 0 3%;
    width: 70%;
    height: 100%;
    background-color: rgb(144, 208, 144);
}

.park-list-title {
    font-size: 20px;
    font-weight: 600;
}

.park-list-desc {
    font-size: 14px;
    font-weight: 400;
    color: gray;
}

.park-list-area {
    font-size: 14px;
    font-weight: 400;
    color: gray;
}



