/* 작성자 : 최예정
 * 파일의 역할 : 이메일 인증 css
 * 작성날짜 : 2023-01-18
 * 
 * 업데이트 작성자 : 최예정
 * 업데이트 날짜 : 2023-02-06
 */

.email-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.fa-envelope {
    font-size: 50px;
}

.btn-con {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 600px;

    margin-top: 20px;
}

.em-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 200px;
    height: 40px;
    
    border: none;
    background-color: #b6cf55;

    font-size: medium;
}