*{
    box-sizing: border-box;
}

.comment-wraper {
    padding: 0px 20px;
}

.comment-header-bar {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid #00000042;
}

.comment-header-bar div {
    padding-right: 10px;
}

.comment-item-wraper {
    display: flex;
    justify-content: space-between;
    text-align: center;

    padding: 5px;
    margin: 5px;
    
    border-bottom: 1px solid #00000042; 

}

.comment-item-wraper div {
    font-size: 13px;
}

.comment-content-container {
    display: flex;
    justify-content: left;
    text-align: left;
    width: 300px;
    
    white-space: pre;
}

.comment-write-container {
    display: flex;
    flex-direction: column;
}

.comment-input-container {
    padding: 5px;
}

.comment-input-container textarea {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    padding: 10px;
    resize: none;

    font-size: 13px;
}

.comment-write-button-div {
    display: flex;
    justify-content: right;
    padding: 0px 5px;
}

.comment-writer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.comment-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comment-time-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.comment-ud-box {
    display: flex;
    /* justify-content: space-around; */
}

.comment-ud-box div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}