.max-wh {
    width: 100%;
    height: 100%;
}

/* Dialog Header */

.dialog-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8%;
    
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #00000042;
}

.dialog-header-parkname {
    font-size: 35px;
    font-weight: 800;
}

.dialog-back {
    width: 30px;
    margin-top: -10px;
    cursor: pointer;
    margin-right: 10px;
}

.dialog-xmark {
    width: 24px;
    margin-top: -15px;
    cursor: pointer;
}


/*  */

.dialog-parkinfo {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-bottom: 1px solid #00000042;
}

.dialog-parkinfo-img {
    width: 300px;
    margin-bottom: 20px;
}

.dialog-parkinfo-contents {
    margin-bottom: 10px;
}

/* Schedule */

.dialog-park-schedule-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    
    padding: 20px 30px 20px 20px;
    padding-right: 10px;
    overflow-y: scroll;
}

.dialog-park-schedule-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 10px;
}

.dialog-park-schedule-title {
    font-size: 27px;
    font-weight: 800;
    margin-bottom: 15px;
}

.dialog-schedule-item {
    width: 500px;
    height: 130px;
    padding: 15px;
    margin: 0 auto 20px;
    border: 1px solid #00000065;
    border-radius: 25px;
}

.dsi-header {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid #00000042;
}

.dsi-weekday {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
}

.dsi-config {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: 1;

    padding-left: 10px;
}

.dsi-title {
    font-size: 17px;
    width: 100%;
    font-weight: 600;
}

.dsi-time {
    width: 50%;
}

.dsi-writer {
    width: 50%;
}

.dsi-desc {
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 50px;
}

/* ScheduleInfo */

.dialog-header-pull-left {
    display: flex;    
}

.schedule-info-wraper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 20px 20px 10px 20px;
    

}

.schedule-info-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.schedule-info-title {
    font-size: 24px;
}

.schedule-info-writer {
    font-size: 16px;
    color: #666666;
}

.schedule-info-datetime {
    width: 100%;
    text-align: right;
    padding: 15px 0;
    border-bottom: 1px solid #00000042;
}

.schedule-info-content {
    width: 100%;
    font-size: 14px;
    padding: 15px;
    border-bottom: 1px solid #00000042;
}

/* ScheduleRegist */

.regist-body-wraper {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 15px;
}

.regist-body-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.regist-btn-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.datetime-selector-wraper {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
}
