/* 작성자 : 최예정
 * 파일의 역할 : 로그인 css
 * 작성날짜 : 2023-01-13
 * 
 * 업데이트 작성자 : -
 * 업데이트 날짜 : -
 */
body {
    margin: 0px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
}

.login-form {
    display: flex;
    justify-content: center;
    
    font-size: 50px;
    font-weight: 600px;

    color: #494e56;
    text-align: center;

}

fieldset {
    display: flex;
    justify-content: center;
    padding: 0 0 20px 0;

    border: none;
    box-sizing: border-box;
}

input {
    display: flex;

    padding: 0 10px 0 20px;

    border-radius: 10px;
    border: 1px solid black;

    width: 530px;
    height: 45px;
}

.input-border {
    border: 1px solid black;
    border-radius: 10px;
    width: 530px;

    overflow: hidden;
}

.email-input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
}

.password-input {
    border: none;
}

.email-password-find {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    
}
a:visited {
    color: black;
}

.login-signup-button {
    display: flex;
    justify-content: space-between;

    padding-top: 20px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 200px;
    height: 40px;
    
    border: none;
    box-sizing: border-box;
    vertical-align: middle;
    
    cursor: pointer;
}

.button-text {
    display: flex;
}

.login-button {
    background-color: #b6cf55;
}

.signup-button {
    background-color: #b6cf55;
}