/* 작성자 : 문경원
 * 파일의 역할 : 문의하기 css
 * 작성날짜 : 2023-02-03
 *
 * 업데이트 작성자 : 최예정
 * 업데이트 날짜 : 2023-02-07
 */

.FAQ-detail-con {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.FAQ-d-title {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50em;
    height: 100px;

    padding-top: 20px;

    font-size: 40px;
    font-weight: 800;
}

.FAQ-d-inquiry {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.FAQ-d-email {
    display: flex;
    justify-content: space-between;
}

.FAQ-d-titleclass {
    justify-content: center;
    align-items: center;
}

.FAQ-d-titleblank {
    display: flex;
    justify-content: space-between;
}

.FAQ-d-content {
    width: 600px;
    height: 15em;
    border: 1px solid black;
    margin-top: 20px;
    resize: none;
}

.FAQ-submit-btn {
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: #B6CF55;
}

.FAQdetail-btn {
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}