body {
    margin: 0;
}

#modal.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
#modal .modal-window {
    border: 0.2px solid #e9e9e9;
    background: white;
    border-radius: 10px;
    width: 350px;
    height: 130px;
    position: relative;
    top: -400px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
}
#modal .title {
    padding-left: 10px;
    display: inline;
    color: black;
    
    
}
#modal .title h2 {
    display: inline;
    font-size: medium;
}

#modal .content {
    margin-top: 20px;
    padding: 0px 10px;
    color: black;

    font-size: small;
}

.modal-btn {
    display: flex;
    justify-content: right;

    margin-right: 10px;

}

.ok-btn {
    margin-right: 20px;
    background-color: rgba(172, 172, 172, 0.603);
}

.submit-btn {
    border: none;

    width: 50px;
    border-radius: 3px;

    cursor: pointer;
}