/* 작성자 : 문경원
 * 파일의 역할 : 고객지원센터 css
 * 작성날짜 : 2023-02-03
 * 
 * 업데이트 작성자 : 최예정
 * 업데이트 날짜 : 2023-02-06
 */

.FAQ-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 좌우 cetner */
    align-items: center; /* 상하 center */

    width: 100vw;
    height: 100vh;
}

.FAQ-title {
    display: flex;

    width: 60%;

    font-size: 40px;
    font-weight: 800;
}

.FAQ-footer {
    width: 45%;
}

.FAQ-text {
    font-size: 40px;
}

.FAQ-text-btn {
    width: 100px;
    height: 40px;

    border: none;
    border-radius: 5px;
    background-color: #b6cf55;

    font-size: 15px;
}


.FAQ-contentmain {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;

    width: 67%;
    height: 70%;

    padding-bottom: 13px;

    /* border: 1px solid black; */
}

.FAQ-contenttitle {
    display: flex;
    justify-content: left;

    width: 90%;

    margin-bottom: 10px;

    font-size: 30px;
    font-weight: 700;
}

/* .FAQ-inquiry {
    display: flex;
    justify-content: right;

    width: 27%;
} */

.FAQ-box-btn {
    border: none;
    background-color: #ffffff;
    font-size: 20px;
}

.FAQ-btn {
    border-right: 1px solid black;
}

.FAQ-contentbox {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: 85%;

    border: 1px solid black;
}